trakt:
  account: account
  series: series
  movies: watchlist
pushbullet:
  api: api_key
folder:
### path of the folder/mountpoint for all the media, without the leading slash
  root: mount/media/
### media and download paths, relative to the previous path
  series: series/
  movies: movies/
  downseries: downloads/series/
  downmovies: downloads/movies/
transmission:
  host: localhost
  user: transmission
  pass: transmission
#
# Transmission configuration for port not included because int variable does not work from secrets.
# See: http://flexget.com/ticket/2745
